#Footer {
  border-top: 3px solid rgba(158, 158, 158, 0.24);
  margin-bottom: 50px;
}

.footer-title {
  display: flex;
  justify-content: center;
}
.footer-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  gap: 20%;
  position: relative;
  left: -30px;
}
.footer-content-wrapper p,
h3 {
  text-align: center;
  font-family: mulish;
}
.footer-content-wrapper {
  font-weight: 600;
}
.footer-content-wrapper h3 {
  font-size: 25px;
}
.footer-title h2 {
  font-size: 30px;
  text-align: center;
  font-family: mulish;
}

@media screen and (max-width: 1000px) {
  .footer-content-wrapper {
    gap: 10%;
    margin: 0px 50px;
  }
}
@media screen and (max-width: 600px) {
  .footer-content-wrapper {
    flex-direction: column;
    left: 0px;
  }
}
@media screen and (max-width: 550px) {
  .footer-title {
    font-size: 1.25em;
  }
  .footer-content-wrapper h3 {
    font-size: 1.12em;
  }
}
