body {
  margin: 0px;
}
.Navbar-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 7px solid #d4d4d4;
  background: #02111b;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.Navbar-hamburger {
  position: absolute;
  float: left;
  z-index: 1;
  margin-left: 10px;
}
.Navbar-hamburger button {
  background: none;
  border: 0px;
}
.Navbar-hamburger button:hover {
  cursor: pointer;
}
.Navbar-title {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 99vw;
}
.Navbar-title h1 {
  color: black;
  text-decoration: none;
  color: white;
  text-align: left;
  text-align: center;
}
.Navbar-wrapper a {
  text-decoration: none;
  color: white;
}
.Navbar-wrapper h1 {
  color: white;
}
.Navbar-text {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: space-between;
  gap: 10px;
  margin-right: 20px;
}
.Navbar-text a {
  text-align: center;
  margin-top: 7px;
  font-size: 20px;
}
.Navbar-text .blue-text {
  color: #0ff;
}
.Navbar-text h1 {
  margin: 0px;
}
.nav-text {
  color: white;
}
.nav-text:hover {
  cursor: pointer;
}
