.sidemenu {
  background: #02111b;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #02111b;
  width: 175px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 80px;
  left: -100%;
}

.nav-menu.active {
  left: 0;
  animation: transformAnimation 500ms ease-out;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 60px;
}
.nav-text span {
  text-align: center;
  width: 100%;
}

.nav-text a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  padding: 5px 20px;
}

.nav-text span:hover {
  opacity: 80%;
  scale: 1.05;
}

.nav-menu-items  {
  width: 100%;
  display: flex;
}

/* Animations */
@keyframes transformAnimation {
  from {
    transform: translate(-100px, 0px);
  }

  to {
    transform: translate(0px, 0px);
  }
}
