.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  height: 87vh;
}
.slider-content-wrapper {
  display: flex;
  align-items: center;
}
.slider-wrapper button {
  background: none;
  border: none;
}
.slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider-next img:hover {
  cursor: pointer;
  opacity: 80%;
}
.slider-prev img:hover {
  cursor: pointer;
  opacity: 80%;
}
.slider-content h1 {
  text-align: center;
  max-width: 900px;
}
@media screen and (max-width: 600px) {
  .slider-content img {
    max-width: 400px;
  }
  .slider-content-wrapper button {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .slider-content img {
    max-width: 100%;
  }
  .slider-wrapper {
    height: 700px;
  }
  .slider-content h1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .slider-wrapper {
    height: 600px;
  }
}
