#Watches-section {
  border-top: 3px solid rgba(158, 158, 158, 0.24);
  margin-bottom: 50px;
}

.watches-section-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: mulish;
  font-size: 25px;
}

.watches-section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  margin: 0px 50px;
}

.watches-section-content img {
  max-width: 25%;
  border-radius: 50%;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .watches-section-content img:last-child {
    display: none;
  }
  .watches-section-content img {
    max-width: 40%;
  }
}
@media screen and (max-width: 550px) {
  .watches-section-title {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 400px) {
  .watches-section-content img:nth-child(1) {
    display: none;
  }
  .watches-section-content {
    margin: 0px;
  }
  .watches-section-content img {
    width: 300px;
  }
}
