.image-container {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 6%;
  border: 3px solid rgba(158, 158, 158, 0.24);
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 10px;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center center;
  transition: transform 0.1s ease;
  cursor: pointer;
}

.image-container:hover .image-container img {
  transform: scale(1.1);
}

.image-container:hover .text-container {
  transform: scale(1);
}

.Watches {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 100px;
}

.Watches-page h1 {
  text-align: center;
  border-bottom: 3px solid rgba(158, 158, 158, 0.24);
  padding-bottom: 10px;
}
